@import url(fonts.css);
	
	body {
		margin: 0;
		border-top: 1px solid #D9FFF5;
		font-family: "TTLakes";
		background-color: #F8F8F8;
	}

	.header {
		height: 40px;
		padding: 0;
		margin-top: 0;
		font-size: 16px;
		font-weight: 400;
		color: #7E7E82;
		background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
		margin-left: 32px;
		padding-top: 15px;
	}

	.image {
		align-self: center;
	}

	.next {
		width: 40px;
		height: 40px;
		align-self: center;
	}

	.lenovo {
		width: 108px;
		height: 32px;
	}

	.samsung {
		width: 116px;
		height: 38.52px;
	}

	.apple {
		width: 44px;
		height: 44px;
	}

	.vs {
		width: 128px;
		height: 21px;
	}

	.bosch {
		width: 128px;
		height: 28.6px;
	}

	.hp {
		width: 52px;
		height: 52px;
	}

	.acer {
		width: 94px;
		height: 24px;
	}

	.sony {
		width: 128px;
		height: 25.6px;
	}

@media (min-width: 320px) and (max-width: 767px) {

	.header{
		margin-left: 16px;
	}

	.swiper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		list-style: none;
		padding: 0;
		z-index: 1;
	}

	.swiper-wrapper {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition-property: transform;
		box-sizing: content-box;
	}

	.swiper-slide {
		width: 240px !important;
		height: 72px;

		display: flex;
		align-content: center;
		justify-content: space-between;

		margin-top: 10px;
		margin-left: 16px;
		margin-bottom: 25px;
		padding: 0;
		padding-left: 16px;
		padding-right: 16px;

		background-color: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		
		cursor: pointer;
	}

	.btn {
		display: none;
	}
}

@media(min-width: 768px) and (max-width: 1119px) {

	.header {
		margin-left: 24px;
	}

	.swiper-wrapper {
		display: flex;
		flex-wrap: wrap;
		min-width: 720px;
		margin-top: 24px;
		margin-left: 4px;

		height: 200px;
	}

	.see {
		height: 400px;
	}

	.swiper-slide {
		width: 25%;
		height: 52px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		margin-top: 10px;
		background-color: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		padding: 16px;
		margin-left: 16px;
		cursor: pointer;
	}

	.btn {
		border: none;
		background-color: #F8F8F8;
		font-family: "TTLakes";
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		position: absolute;
		left: 50px;
		margin-top: 30px;
	}

	.btn::before {
		position: relative;
		top: 9px;
		left: 1px;
		display: block;
		content: "\203a \203a";
		width: 1px;
		height: 1px;
		color: #41F6D7;
		transform: rotate(90deg);
	}

	.close::before {
		position: relative;
		top: 17px;
		left: -25px;
		display: block;
		content: "\203a \203a";
		width: 1px;
		height: 1px;
		color: #41F6D7;
		transform: rotate(270deg);
	}
}

@media (min-width: 1120px) {

	.swiper-wrapper {
		display: flex;
		flex-wrap: wrap;
		min-width: 960px;
		margin-top: 24px;
		margin-left: 10px;
		height: 200px;
	}

	.see {
		height: 300px;
	}

	.swiper-slide {
		width: 20%;
		height: 52px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		margin-top: 10px;
		background-color: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		padding: 16px;
		margin-left: 20px;
		cursor: pointer;
	}

	.btn {
		border: none;
		background-color: #F8F8F8;
		font-family: "TTLakes";
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		position: absolute;
		left: 50px;
		margin-top: 30px;
	}

	.btn::before {
		position: relative;
		top: 9px;
		left: 1px;
		display: block;
		content: "\203a \203a";
		width: 1px;
		height: 1px;
		color: #41F6D7;
		transform: rotate(90deg);
	}

	.close::before {
		position: relative;
		top: 17px;
		left: -25px;
		display: block;
		content: "\203a \203a";
		width: 1px;
		height: 1px;
		color: #41F6D7;
		transform: rotate(270deg);
	}
}